
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />


<nav class="navbar navbar-expand-lg navbar-light bg-light py-0 py-md-0">
  <a class="nav-link py-0" href="#">
    <button (click)="onClickLoadMap()" class="btn btn-success">
      {{m_strLoadMap}}
    </button>
  </a>
  
  <ul class="nav navbar-nav mx-auto">
    <li class="nav-item">
      <a class="nav-link py-0" href="#">
        {{ m_title }}
      </a>
    </li>
  </ul>
</nav>

 
<div class="row"> 

  <div class="col-10">
    <app-scene></app-scene>
  </div>

  <div class="col-2">
    <!-- TODO: here should be icon -->
    <i class="fa fa-plus"></i>

    <ul class="list-group">
      <li class="list-group-item border-0 py-1">
        <button (click)="onClickPlus()" class="btn btn-success">
          +
        </button>
      </li>
      <li class="list-group-item border-0 py-1">
        <button (click)="onClickMinus()" class="btn btn-success">
          -
        </button>
      </li>
    </ul>
    
    <table class="table borderless">
      <tbody>
      
        <tr class="borderless">
          <td>
            &nbsp;
          </td>
          <td>
            <button (click)="onClickUp()" class="btn btn-success">
              ^
            </button>
          </td>
          <td>
            &nbsp;
          </td>
        </tr>        

        <tr>
          <td>
            <button (click)="onClickLeft()" class="btn btn-success">
              <
            </button>
          </td>
          <td>
            &nbsp;
          </td>
          <td>
            <button (click)="onClickRight()" class="btn btn-success">
              >
            </button>
          </td>
        </tr>        

        <tr>
          <td>
            &nbsp;
          </td>
          <td>
            <button (click)="onClickDown()" class="btn btn-success">
              v
            </button>
          </td>
          <td>
            &nbsp;
          </td>
        </tr>        
        
        
      </tbody>
    </table>
    
  </div>

</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <!-- Database -->
    <app-database></app-database>
  </div>
  <div class="col-1">
  </div>
</div>




