<div class="card">
  <div class="card-title">
    <h4>
      <i class="fa fa-cogs"></i>
      OSM Данные
    </h4>
  </div>
  <div class="card-body">
    Небольшой дамп данных из загруженной карты:
    <span *ngIf="m_database">
      Node[0] = {{m_nodes[0].x}}, {{m_nodes[0].y}}.
      Улица[0] = {{m_database.streets[0]}}.
      Путь[0]. t = {{m_database.ways[0].t}}, s = {{m_database.ways[0].s}}, numNodes = {{m_database.ways[0].n}}, nodeIndex[0] = {{m_database.ways[0].d[0]}}
    </span>
    
  </div>
</div>


